<%= form_for(@user, url: signup_path) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> found:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :username %><br/>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :password %><br/>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>